:root {
    --black: #080809;
    --mintgreen: #62BC8C;
    --lightgreen: #459D6E;
    --darkgreen: #27533C;
}

* {
    font-family: poppins;
}

h3 {
    font-weight: 600;
    font-size: 1.4rem;
}

header {
    display:grid;
    grid-template-columns: 100px auto auto auto;
    align-items: center;
    padding: 1rem;
    background-color: var(--black);
    color: white
}

nav {
    align-content: center;
}
@media screen and (min-width: 1100px) {
    .hamburger {
        display: none;
    }
}
nav a {
    text-decoration: none;
    padding: 0.5rem;
    color: white;
    font-size: 1.3rem;
}
nav a:hover {
    background-color: white;
    color: var(--black);
    font-weight: 700;
    border-radius: 1.5rem;
}

h1 {
    text-align: left;
    margin-left: 2rem;

}



/* body */
#business-cards {
    margin-left: 4rem;
    margin-right: 4rem;
    margin: 1rem;
    padding: 1rem;

}

.display-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    column-gap: 1rem;
    row-gap: 1rem;
}


.display-list {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
}

.display-list section{
    padding: 1rem;
    display:grid;
    grid-template-columns: 1fr 1fr;
    width: 35rem;
    margin: 2px;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu button {
    background-color: var(--darkgreen);
    color: white;
    padding: 1rem;
    width: 10rem;
    font-weight: 500;
    font-size: 1.2rem;
}

#hero-img {
    position: relative;
}

main > button {
    position:absolute;
    padding:2rem;
    bottom:25%;
    right:10%;
    background-color: white;
}


/* Designing Business Cards */
div section {
    background-color: var(--mintgreen);
    border: 1px solid black;
}

.div1-heading h3 {
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}

.div2-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    place-items: center;
    column-gap: 1rem;
}

.div4-image img {
    background-color: white;
    width:150px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin: 0.5rem;
    border: 1px solid var(--black)
}




/* Footer */
footer {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--mintgreen);
    padding: 1rem;
    column-gap: 1rem;
    font-size: 1rem;
    border-top: 3rem solid var(--black);
}


.social-logos ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-around;
}

.social-logos ul li {
    padding: 1rem;
}

#bold-name {
    font-weight: 700;
}