:root {
    --darkblue: #00458b;
    --lightblue: #99ddff;
    --teal: #3fd2c7;
}

/* ***************Header*************** */
* {
    font-family: poppins;
}

header {
    padding: 1rem;
    font-family: poppins;
    background-color: #00458b;
    display: grid;
    grid-template-areas: 
    "logo name name name name"
    "logo navigation navigation navigation navigation";
}

header h1 {
    grid-area: name;
    text-align: left;
    color: white;

}

header img {
    grid-area: logo;
}

header nav {
    grid-area: navigation;
    color: white;
}

#navigation {
    display: flex;
    justify-content: space-between;
}

#navigation a {
    text-decoration: none;
    color: white;
    margin-bottom: -1rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#navigation a:hover {
    background-color: darkblue;
    margin-bottom: -1rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#selected {
    background-color: darkblue;
    margin-bottom: -1rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

}

.hamburger::before {
    text-align: right;
    background-color: #00458b;
    content: "\2630";
    font-size: 2rem;
    color: white;
}
.hamburger.show::before {
    text-align: right;
    content: "\00D7";
    color: white;
    background-color: var(--darkblue);
}

header button {
    background-color: var(--darkblue);
    width: 50px;
    height: 50px;
    border: none;
    grid-area: navigation;
}


@media screen and (min-width: 800px) {
    .hamburger {
        display:none
}
}


/* Main */

/* Hero Image */

#hero {
    max-width: 100%;
    position: relative;
}

#hero img {
    max-width: 100%;
    /* opacity: 0.6; */
}

#hero h2 {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 3rem;
    max-width: 300px;
    background-color: var(--teal);
    opacity: 0.75;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    opacity: 0.6;
    border: 5px solid var(--lightblue);
}

/* Home Page About us */


#about-us {
    background-color: var(--lightblue);
    margin: 1rem;
    display: grid;
    grid-template-areas: 
    "image heading"
    "image description"
    "image description"
    "image description";
    border: 9px solid var(--darkblue)
}

#about-us img {
    width:100%;
    max-width: 500px;
    grid-area: image;
    border: 5px solid var(--darkblue);
    place-content: center;
}
#about-us h3 {
    text-align: center;
    padding: 5px;
    font-size: 1.5rem;
    font-family: poppins;
}

#about-us p {
    text-align: center;
    padding: 1.5rem;
    font-family: poppins;
}


/* ********************Vacations Explore Page*************** */


#explore-div {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* column-gap: 1rem;
    row-gap: 1rem; */
    font-family: poppins;
}

#explore-div section {
    display: grid;
    grid-template-areas: 
    "image header header"
    "image learnButton learnButton"
    "image learnButton learnButton";
    column-gap: 1rem;
    row-gap: 1rem;
    background-color: whitesmoke;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 3rem;
    box-shadow: 5px 5px 10px gray;
    text-align: left;
    margin: 1rem;

}
#explore-div section img {
    grid-area: image;
    width: 100%;
    max-width: 350px;
    margin: 1rem;
    border-radius: 3rem;
    border: 4px solid var(--lightblue)
}
#explore-div section h3 {
    grid-area: header;
    margin: 0.5rem;
    margin-top: 3rem;
    width:auto;
    max-width: 200px;
    text-align: center;
    
}
#explore-div section button {
    grid-area: learnButton;
    max-width: 175px;
    width:auto;
    margin:2rem;
    border-radius: 3rem;
    height:100px;
    background-color: var(--darkblue);
    color: white;
    font-weight: 700;
    border: 2px solid gray;


}

/* Modal Dialog CSS */

dialog::backdrop {
    background-color: black;
    opacity: 0.5;
}

#vacation-details {
    display:grid;
    font-family: poppins;
    
}

#vacation-details button {
    height: 4rem;
    border-radius: 1rem;
    font-family: poppins;
    font-size: 1.3rem;
    background-color: var(--darkblue);
    color: white;
}

/* #vacation-details img {
    width:100%;
    max-width: 400px;
    text-align: center;
} */

#vacation-details h2 {
    text-align: center;
    font-size: 3rem;
    font-style: italic;
}

#vacation-details div {
    background-color: var(--lightblue);
    margin: 1rem;
    padding: 1rem;
    border: 3px solid var(--teal);
    border-radius: 3rem;
}

#vacation-details div section {
    padding: 1rem;
}

/* **********************Thank You Page************************* */
.center-box {
    display: grid;
    grid-template-columns: 25% 500px 25%;
}

.center-box h1 {
    grid-column: 2/3;
    text-align: center;
}

#application-info {
    background-color: var(--teal);
    max-width: 500px;
    width: 100%;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    grid-column: 2/3;
    border-radius: 3rem;
    border: 5px solid var(--darkblue);

}




/* ********************Vacation Form Page*************** */

#form {
    font-family: poppins;
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
}

#form h2 {
    text-align: center;
    grid-column: 2/3;
}

form {
    background-color: var(--lightblue);
    max-width: 500px;
    width: 100%;
    padding: 1rem;
    border-radius: 2rem;
    grid-column: 2/3;
    width:100%;
}

fieldset {
    border: 1px solid black;
    border-radius: 8px;
    margin: 1rem 0.5rem;
}

legend {
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--darkblue);
}

label {
    display: block;
    font-size: 1.1rem;
    padding: 1rem;
}

input[type="text"],
textarea,
input[type="date"],
input[type="email"],
input[type="tel"],
select,
input[type="number"] {
    background-color: rgb(255, 255, 255);
    display: block;
    border: 1px solid gray;
    border-radius: 6px;
    padding: 0.75rem;
    color: gray;
    width: 100%;
    max-width: 325px;
    appearance: none;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 6px;

}

input[type="submit"] {
    background-image: linear-gradient(rgb(54, 54, 103), rgb(21, 38, 54));
    color: azure;
    font-size: 1.3rem;
    width: 100%;
    height: 45px;

}





/* Footer */
footer {
    background-color: var(--darkblue);
    font-family: poppins;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    place-items: center;
    color: white;
    padding: 1rem;
    border-top: 5px solid var(--teal);
}

footer img {
    max-width: 125px;
}


